[*.cs]

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none
